
/*nav bar and top of page*/
.jo-logo {
	font-family: 'Bad Script';
	float: left;
	font-size: 3.75rem;
	padding-left: 60px;
	padding-top: 15px;
	margin-bottom: 30px;
}

.jo-logo-small {
	font-family: 'Bad Script';
	float: left;
	display: none;
}

.jo-nav {
	float: right;
	font-size: 2rem;
	padding-right: 15px;
	padding-top: 35px;
	margin-bottom: 30px;
}

.jo-nav-line li {
	display: inline;
}

.nav-active {
	color: #1DBD9E;
}

.nav-rest {
	color: #444444;
}

/*index page styles*/
.jo-def {
	font-size: 3rem;
	text-align: center;
}

.jo-def-name {
	font-size: 3.5rem;
	font-weight: bolder;
	padding-right: 15px;
}

.jo-traits {
	padding: 20px;
}

.jo-traits li {
	padding: 5px;



