/* color palatte colors:
ED715C  - salmon
F5F5F5 - grey
E9E0D5 - pearl
1DABA5 - sea green
3399DC - bright blue
344459 - navy */

body {
	font-family: 'Hind';
	font-weight: 300;
	font-size: 18px;
	color: #344459;
	background-color: #FFFFFF;
}

header {
	margin-bottom: 15%;
	background-color: #F5F5F5;
	padding-bottom: .75em;
}

.normalmenu {
	padding: 2em 2em 2em 8em;

}

#joell {
	float: left;
	width: 45%;
	color: #ED715C;
	font-family: 'Sacramento';
	font-size: 2.25rem;

}

.normalmenu li, .normalmenu a {
   text-align: center;
   color: #3399DC;
   display: inline;
   text-decoration: none;
   padding-right: 1.25rem;
/* how to scoot the list down a bit so it's even with the name home button? */
}

#jopic {
	float: right;
	height: 20%;
	width: 20%;
	border-radius: 50%;
	margin-right: 8em;
}

#joelldictionary {
	float: left;
	width: 50%;
	font-family: 700;
	font-size: 4em;
	font-weight: 700;
	letter-spacing: .18em;
	padding-left: 2.25em;
	padding-top: 1em;
}

#noun {
	font-weight: 400;
	font-size: 1.5rem;
	font-style: italic;
	clear: both;
	float: left;
	color: #666666;
	margin-left: 6.65em;
	margin-bottom: 1em;
}

.traits, .aboutblurb {
	clear: both;
	float: left;
	font-size: 1.25rem;

}

ol.traits {
	width: 75%;
	padding-bottom: 3em;
	padding-left: 8em;
}

.traits li {
	list-style-type: none;
	color: #000000;
    counter-increment: step-counter;
    padding-bottom: 1em;
}

.traits li::before{
	content: counter(step-counter);
    margin-right: 1em;
    font-size: 1.25rem;
    color: #ED715C;

}


.books {
	float: right;
	margin-right: 8em;
}

.survey, .persona, .mentalmodel {
	clear: both;
	float: left;
	width: 70%;
}

.thumbnails {
	clear: both;
	float: right;
	height: 25%;
	width: 25%;
}

.large {
	height: 100%;
	width: 100%;
}

footer {
	clear: both;
	background-color: #1DABA5;
	height: 4em;
	width: 100%;
}

.socialmedia {
	clear: both;
	color: #FFFFFF;
	font-size: 18px;
	padding-top: 2em;
	margin-left: 45%;

}




