/* color palatte colors:
F5F5F5 - grey nav
444444 - grey text
E9E0D5 - pearl
1DABA5 - sea green
3399DC - bright blue
344459 - navy */

/* start page */

/* base site (navigation, footer, fonts) styles */

body {
	font-family: 'Hind';
	font-weight: 300;
	font-size: 18px;
	color: #444444;
	background-color: #FFFFFF;
}

header {
	background-color: #F5F5F5;
	padding-bottom: 5em;
	margin-bottom: 1em;
	position: relative;
	top: 0;
	width:100%;
}

#joell {
	float: left;
	width: 45%;
	color: #000000;
	font-family: 'Sacramento';
	font-size: 2.25rem;
	padding: .75em 0 1em 1em;

}

ul.mainmenu {
	float: right;
	padding-top: 2em;
	padding-bottom: 1em;
}

.mainmenu li, .mainmenu a {
   text-align: center;
   color: #3399DC;
   display: inline;
   text-decoration: none;
   padding-right: 1.25em;
}

.mainmenu a:hover {
	color: #1DABA5;
}

a.active {
	color: #1DABA5;
	font-weight: 400;
}

footer {
	clear: both;
	background-color: #333333;
	height: 4em;
	width: 100%;
}

.socialmedia {
	clear: both;
	color: #FFFFFF;
	font-size: 18px;
	padding-top: 2em;
	margin-left: 45%;

}

/* index page styles */

#jopic {
	float: right;
	height: 20%;
	width: 20%;
	border-radius: 50%;
	margin-right: 8em;
}

#joelldictionary {
	float: left;
	width: 40%;
	font-family: 700;
	font-size: 5rem;
	font-weight: 700;
	letter-spacing: .15em;
	padding-top: 3em;
	margin-left: 1.85em;
}

#noun {
	font-weight: 400;
	font-size: 1.5rem;
	font-style: italic;
	clear: both;
	float: left;
	color: #666666;
	margin: 1.5em auto 1em 6.65em;
}

.traits {
	clear: both;
	float: left;
	font-size: 1.25rem;

}

ol.traits {
	width: 75%;
	padding-bottom: 3em;
	padding-left: 7.65em;
}

.traits li {
	list-style-type: none;
	color: #000000;
    counter-increment: step-counter;
    padding-bottom: 1.25em;
}

.traits li::before{
	content: counter(step-counter);
    margin-right: 1em;
    font-size: 1.25rem;
    color: #666666;

}

.currentlyreading {
	clear: both;
}

article a:link, article a:visited {
    background-color: #3399DC;
    color: white;
    padding: 1.25em 1em;	
    text-decoration: none;
    display: inline-block;
    font-size: .85rem;
}

article a:hover, article a:active {
    background-color: #344459;
    padding: 1em;
    font-size: .85rem;
}

/* artifact, design pages */

.topquote {
	background-color: #E9E0D5;
	width: 100%;
}


.survey, .persona, .mentalmodel {
	clear: both;
	float: left;
	width: 70%;
}

.processdesign {
	width: 100%;
	height: 100%;
	
}

.thumbnails {
	clear: both;
	float: right;
	height: 25%;
	width: 25%;
}

.large {
	height: 100%;
	width: 100%;
}

/* contact page */





